* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
:root {
    --Primaria: #4f46e5;
    --Secundaria: #7c3aed;
    --Escuro: #0f172a;
    --MaisEscuro: #0a0f1c;
    --Claro: #e2e8f0;
    --Vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--Escuro);
    color: var(--Claro);
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.5);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--Claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--Primaria), var(--Secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
    
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    box-shadow: rgb(79, 70, 229, 0.3) 0px 25px 30px -5px;
    border-radius: 50%;
    border: 3px solid var(--Vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 55px;
    margin-top: 60px;
    font-weight: bold;
    color: var(--Primaria);
}

.cabecalho-subtitulo {
    font-size: 25px;
    margin-top: -15px;
    color: var(--Claro);
}

.sobre-mim-titulo {
    font-size: 45px;
    color: var(--Claro);
    text-align: center;
    margin-bottom: 50px;
    margin-top: -215px;
}

.sobre-mim {
    padding: 6rem 2rem;
    margin: 100px;
}

.sobre-mim-caixa {
    padding: 30px;
    max-width: 800px;
    margin: auto;
    margin-top: 1rem; ;
    border-radius: 15px;
    border: 1px solid var(--Vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}
.sobre-mim-paragrafo {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--Vidro);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: -180px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(72, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    color: rgba(226, 232, 240, al0.8pha);
    line-height: 1.25rem;
}

.caixa-texto-projetos{
    padding: 1.5rem;
}

.projetos-descricao {
    margin-bottom: 5px;
}

.contato {
    padding: 6rem 2rem;
}

.contato-titulo {
    font-size: 45px;
    color: var(--Claro);
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}

.formulario-contato {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--Vidro);
    border-radius: 16px;

}

.campo-formulario {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--Claro);
    border: 1px solid var(--Vidro);
    outline: none;
}

.campo-formulario:focus {
    border-color: var(--Secundaria);
    box-shadow: 0 10px 20px rgba(72, 70, 229, 0.2);
}

.grupo-formulario {
    margin-bottom: 1.5rem;
}

.botao-formulario {
    width: 100%;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, var(--Primaria), var(--Secundaria));
    border: none;
    border-radius: 8px;
    color: var(--Claro);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.botao-formulario:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4) ;
}

.particulas {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--Primaria) 0%, transparent 20%), radial-gradient(circle at 90% 80%, var(--Secundaria) 0%, transparent 20%), var(--MaisEscuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}